body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1;
    background: #f5f5f5;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

.header {
    display: flex;
    justify-content: space-between; /* Distribuye la logo-title y nav-links a los extremos */
    align-items: center;
    background-color: #398F9D;
    padding: 5px 30px;
    color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}



.nav-links {
    display: flex; /* Alinea los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 20px; /* Espaciado uniforme entre enlaces y botón */
}


.logo-title {
    display: flex;
    align-items: center;
    flex-shrink: 1; /* Permite que este contenedor se ajuste si es necesario */
}

.logo {
    max-width: 50px; /* Mantén el logo compacto */
    height: auto;
    margin-right: 10px;
}

.login-link, .logout-button {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    background: none; /* Sin fondo para el botón */
    border: none; /* Sin bordes */
    cursor: pointer;
    white-space: nowrap;
    padding: 0; /* Elimina cualquier padding extra */
    margin: 0; /* Elimina cualquier margen extra */
    line-height: 1; /* Asegura que el texto tenga la misma altura */
    transition: color 0.3s ease; /* Transición suave en hover */
    padding-right: 40px;
}

.logout-button:focus {
    outline: none; /* Elimina el borde por defecto al enfocar */
}

.login-link:hover , .logout-button:hover{
    color: aquamarine;
}



@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column; /* Cambia a vertical en pantallas pequeñas */
        align-items: flex-start;
        gap: 10px; /* Reduce el espacio entre enlaces */
        margin-top: 10px;
    }
}


main {
    width: 100%;
    margin-top: 120px; /* Ajusta el espacio para el header fijo */
    padding: 20px;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}


footer {
    width: 100%; /* Asegura que el footer ocupe el ancho completo del viewport */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    margin: 0; /* Elimina cualquier margen inesperado */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #398F9D;
    padding: 20px 40px;
    color: white;
    position: relative;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    
}

footer h3 {
    margin: 0;
    font-size: 1.5rem;
}

footer h5 {
    margin: 0;
    font-size: 1rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer li {
    font-size: 1rem;
    margin-bottom: 5px;
}
